.container
  .row
    .jumbotron
      %h4.text-center
        The short url
        = link_to "/#{@entity.short_url}", @entity.redirect_url
        created for
        =link_to "#{@entity.url}", @entity.url
      =link_to 'HOME', root_path, {class: 'btn btn-block btn-primary'}